@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4E5D78;
  --secondary: #B0B7C3;
  --ternary: #F0F5FA;
  --success: #38CB89;
  --textColor: #8A94A6;
  --btnbackground: #377DFF;
  --danger: #FF5630;
  --checkboxbg: #EDEFF1
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
}

h1, h2, h3, h4, h5, h6, p, span, div, input {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 3px;
  border-radius: 10px;
  height: 100px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  padding: 5px;
  background-color: #1C1B4D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  appearance: textfield;
}
input[type="checkbox"] {
  visibility: hidden;
}

.custom-checkbox label {
  background-color: var(--checkboxbg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 26px;
  left: 0px;
  position: absolute;
  top: -6px;
  width: 26px;
}

.custom-checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 15px;
}

.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.custom-checkbox input[type="checkbox"]:checked + label {
  background-color: var(--success);
  border-color: var(--success);
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type=textarea] {
  resize: none;
}

/* Custom Menu */
.custom_menu-btn {
  @apply gap-4 w-full rounded-md  p-4 text-base outline-none capitalize;
}

.custom_menu-items {
  @apply flex-col absolute left-0 mt-2  w-fit max-h-64 origin-top-right rounded-xl bg-white border   overflow-y-auto;
}

.custom_menu-item {
  @apply text-left w-full px-5 py-2 text-sm  self-start whitespace-nowrap capitalize;
}